.profile-page {
    padding: 80px 0;
    background-color: #f4f4f4;
}
.account-details {
    box-shadow: 0 0 20px 2px #00000024;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.user-category {
    margin-top: 20px;
}
.user-category .nav-pills {
    row-gap: 5px;
}
.user-category .nav-pills .nav-link{
    color: #797979;
    padding: 5px 15px;
}

.user-category .nav-pills .nav-link.active{
    color: #ffffff;
    background-color: #f2a921;
}

.logout {
    color: red;
    font-weight: bold;
    padding: 5px 15px;
}

.personalDetails {
    margin-bottom: 20px;
}

.profile-pic {
    margin-bottom: 20px;
}
.profile-pic .uploader__container{
    margin: 0 auto;
    width: fit-content;
    position: relative;
    z-index: 2;
}
.profile-pic .uploader__container img{
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 20px 2px #00000024;
}
.profile-pic .uploader__container::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    transform: translate(-50% , -50%);
    border-radius: 50%;
    background-color: #4bc2a052;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.imguplode_btn-wrapper .updateBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    color: #ffffff;
    transition: all 0.5s;
}
.imguplode_btn-wrapper .removeBtn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F2A922;
    color: #ffffff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    box-shadow: 0 0 20px 2px #00000024;
}
.profile-pic .uploader__container:hover::before{
    opacity: 1;
    visibility: visible;

}
.profile-pic .uploader__container:hover .imguplode_btn-wrapper .updateBtn{
    opacity: 1;
    visibility: visible;
}
.profile-name{
    text-align: center;
}
.profile-name h4{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}



.rs-picker.field input::placeholder {
    color: #ffffff;
}

.user-profile {
    box-shadow: 0 0 20px 2px #00000024;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.user-details {
    padding: 35px;
}

.personalDetails h4 {
    color: black;
}

.dob {
    margin-top: 15px;
    color: #0F365b66;

}

.redio {
    margin-top: 15px;
}

.redio .gen {
    margin-top: 5px;
    margin-left: 6px;
    color: #0F365b66;

}

.savebtn {
    width: 20%;
}